
{% extends "pages/index.html" %}



{% block menu %}

    
    <div class="page-wrapper">
  
    <!-- empieza accesos directos -->

        <div class="container-fluid r-aside">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Crear usuario</h3>
                </div>
        
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'usuarios:home' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'proyectos:subproyectos' %}">Panel</a></li>
                        <li class="breadcrumb-item">Crear Subproyecto</li>
                    </ol>
                </div>
            </div>
        
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body row">
                            <div class="col-12 justify-content-center">
        
                                <div class="row d-flex justify-content-center">
                                    <div class="col col-md-12 col-lg-10">
                                        <div class="row">
                                            <div class="col bg-light border rounded p-3">

                                                <form role="form" enctype="multipart/form-data" action="" method="POST" id="upload-image-form" class="p-4">
                                                    {% csrf_token %}
                                                    <h4 class="mb-3">Panel de creación</h4>
                                                    <hr>

                                                    
                                                
                                                    <div class="row d-flex">

                                                        <div class="col-lg-4 col-md-4  my-3 row-sm">
                                                            <label for="{{ form.estado.id_for_label }}">
                                                                <h6>{{ form.estado.label }}</h6>
                                                            </label>
                                                            <div class="row d-flex justify-content-center">
                                                                <div class="">
                                                                    {{ form.estado }}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4 col-md-4  my-3 row-sm">
                                                            <label for="{{ form.proyecto.id_for_label }}">
                                                                <h6>{{ form.proyecto.label }}</h6>
                                                            </label>
                                                            <div class="row d-flex justify-content-center">
                                                                <div class="">
                                                                    {{ form.proyecto }}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4 col-md-4  my-3 row-sm">
                                                            <label for="{{ form.manzana.id_for_label }}">
                                                                <h6>{{ form.manzana.label }}</h6>
                                                            </label>
                                                            <div class="row d-flex justify-content-center">
                                                                <div class="" id="miManzana">
                                                                    <span id="valorManzana"></span>
                                                                    {{ form.manzana }}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4 col-md-4  my-3 row-sm">
                                                            <label for="{{ form.nombre.id_for_label }}">
                                                                <h6>{{ form.nombre.label }}</h6>
                                                            </label>
                                                            <div class="row d-flex justify-content-center">
                                                                <div class="" id="miLote">
                                                                    {{ form.nombre }}
                                                                </div>
                                                            </div>
                                                        </div>

                                                    
                                                        <div class="col-lg-4 col-md-4  my-3 row-sm">
                                                            <label for="{{ form.m2.id_for_label }}">
                                                                <h6>{{ form.m2.label }}</h6>
                                                            </label>
                                                            <div class="row d-flex justify-content-center">
                                                                <div class="">
                                                                    {{ form.m2 }}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4 col-md-4  my-3 row-sm">
                                                            <label for="{{ form.precio_venta.id_for_label }}">
                                                                <h6>{{ form.precio_venta.label }}</h6>
                                                            </label>
                                                            <div class="row d-flex justify-content-center">
                                                                <div class="">
                                                                    {{ form.precio_venta }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4  my-3 row-sm">
                                                            <label for="{{ form.plano.id_for_label }}">
                                                                <h6>{{ form.plano.label }}</h6>
                                                            </label>
                                                            <div class="row d-flex justify-content-center">
                                                                <div class="">
                                                                    {{ form.plano }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4  my-3 row-sm">
                                                            <label for="{{ form.observacion.id_for_label }}">
                                                                <h6>{{ form.observacion.label }}</h6>
                                                            </label>
                                                            <div class="row d-flex justify-content-center">
                                                                <div class="">
                                                                    {{ form.observacion }}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4 col-md-4  my-3 row-sm">
                                                            <label for="{{ form.id_personalizado.id_for_label }}">
                                                              <h6>{{ form.id_personalizado.label }}:</h6>
                                                            </label>
                                                          <div class="row d-flex justify-content-center">
                                                            <div>
                                                              <input type="text" class="id_personalizado form-control" id="{{ form.id_personalizado.auto_id }}" name="{{ form.id_personalizado.html_name }}" readonly style="width: 100%;">
                                                            </div>
                                                          </div>
                                                        </div>
                                                        

                                                    </div>
                                                
                                                
                                                    <div class="row d-flex justify-content-center mt-3">
                                                        <div class="col text-center">
                                                            <button type="submit" class="btn btn-primary" name="crear-proyecto">Crear</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                
        
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>


    {% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Obtener los elementos de los campos de entrada
            var manzanaInput = document.getElementById('id_manzana');
            var nombreInput = document.getElementById('id_nombre');
            var id_personalizado = document.querySelector(".id_personalizado");

            var valorManzana = "A";
            var valorNombre = "01";
            manzanaInput.addEventListener('change', function() {
                var valorManzana = manzanaInput.options[manzanaInput.selectedIndex].text;
                var valorNombre = nombreInput.value;
                console.log('Valor de Manzana:', valorManzana);
                console.log("final m:",valorManzana+"_"+valorNombre)
                id_personalizado.value = valorManzana+"_"+valorNombre
            });

            nombreInput.addEventListener('input', function() {
                // Obtener el valor del campo de nombre
                var valorManzana = manzanaInput.options[manzanaInput.selectedIndex].text;
                var valorNombre = nombreInput.value;
                // Imprimir el valor en la consola
                console.log('Valor de Nombre:', valorNombre);
                console.log("final i:",valorManzana+"_"+valorNombre)
                id_personalizado.value = valorManzana+"_"+valorNombre
            });


        });
    </script>
    {% endblock %}

{% endblock %}

